$bg-main:#0D0F13;

$bg-main-light:rgba(13, 15, 19, 0.719);

$bg-main-dark:rgb(7, 8, 10);

$bg-match:#131B25;

$bg-match2:#353B42;

.bg-main {
    background: $bg-main;
}

.bg-main-light {
    background: $bg-main-light;
}

.bg-match {
    background: $bg-match;
}

.bg-match2 {
    background: $bg-match2;
}

.text-main {
    color: $bg-main;
}
a.text-main:hover, a.text-main:focus {
    color: $bg-main-dark;
}