// color

$bg-main:       #0D0F13;

$bg-main-dark:  rgb(7, 8, 10);

$bg-match:      #131B25;

.bg-main {
    background: $bg-main;
}

.bg-match {
    background: $bg-match;
}

.text-main {
    color: $bg-main;
}
a.text-main:hover, a.text-main:focus {
    color: $bg-main-dark;
}

// border

.border-t-radius-5 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.border-b-radius-5 {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-2px {
    border: 2px solid;
}

.border-main {
    border-color: $bg-main !important;
}

.border-radius-0 {
    border-radius: 0px;
}

// btn

.btn-main {
    color: #fff;
    background: $bg-main;
    border-color: $bg-main;
}

.btn-main:hover,
.btn-main.active{
background: $bg-main-dark;
color: $danger;
border-color: $bg-main;
}

.btn-main.disabled{
opacity: 0.30;
}

.btn-outline-main {
border-color: $bg-main;
background: transparent;
color:$bg-main;
}

.btn-outline-main:hover {
background: $bg-main;
color:#fff;
}

// font

body {
    font-family:"Helvetica Neue", Helvetica, "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
    color: $bg-main;
    font-size: .875rem;
}

.font-w-500 {
    font-weight: 550;
}

// img

.bg-cover-b {
    background-size: cover;
    background-position: bottom;
}

.bg-cover-c {
    background-size: cover;
    background-position: center center;
}

// table

.table-img {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.table-td td {
    vertical-align: middle;
}

.table-tfoot td {
    border: 0;
}

// breadcrumb

.breadcrumb-item + .breadcrumb-item::before {
    color: $bg-main;
}

// nav

.nav_item_style {
    color: #fff !important;
    transition:all .3s;
    border-radius: 5px;
}

.nav_item_style:hover {
    color: #dc3545 !important;
    cursor: pointer;

.nav_badge {
    color:#dc3545;
    background: #fff;
    }
}

.nav_item_style.active {
    color: #bd2130 !important;

.nav_badge {
    color: #bd2130;
    background: #fff;
    }
}

.nav_favorite_block_xs-md {
@media screen and (max-width: 990px) {
    width: 25%;
    margin: 0 auto;
    }
}

.nav_badge {
    position:absolute;
    bottom: 0px;
    right:-15px;
    transition:all .3s;
}

.nav_badge_block {
    display:inline-block;
    position: relative;
}