.nav_item_style {
        color: #fff !important;
        transition:all .3s;
        border-radius: 5px;
}

.nav_item_style:hover {
    color: $danger !important;
    cursor: pointer;

    .nav_badge {
        color:$danger;
        background: #fff;
    }
}

.nav_item_style.active {
    color: #bd2130 !important;

    .nav_badge {
        color: #bd2130;
        background: #fff;
    }
}

.nav_favorite_block_xs-md {
    @media screen and (max-width: 990px) {
        width: 25%;
        margin: 0 auto;
    }
}

.nav_badge {
    position:absolute;
    bottom: 0px;
    right:-15px;
    transition:all .3s;
}

.nav_badge_block {
    display:inline-block;
    position: relative;
}

.home_nav_bg {
    background: rgba(13, 15, 19, 0.719);
    position: absolute;
    width: 100%;
  }

